.header {
    display: flex;
    justify-content: space-between;
    padding: 10px; 
    margin: 0px 200px; 
}

ul {
    display: flex;
    list-style: none;
    gap: 16px; 
  }

  .left-links a {
    font-size: 24px;
    font-weight: bold; 
  }

  a {
    text-decoration: none;
    font-size: 20px;
  }

  .introduction {
    display: flex; 
    margin: 50px 200px; 
    flex: 1;
  }

  .hero-main {
    font-size: 48px;
    font-weight: 800; /*extra bold font weight */
  }

  .hero-secondary {
    font-size: 18px;
  }
