body {
  margin: 0px; 
}

.body {
  display: flex; 
  flex-direction: column;
}

.container-one {
  display: flex; 
  flex-direction: column;
  padding-left: 200px; 
  padding-right: 200px; 
  background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
}

.introduction {
  display: flex;
  padding-top: 100px; 
  padding-bottom: 100px;
  color: white; 
}

ul {
    display: flex;
    list-style: none;
    gap: 16px; 
    padding-inline-start: 0px;
  }

  .left-links a {
    font-size: 24px;
    font-weight: bold; 
    color: #F9FAF8;
  }

  a {
    text-decoration: none;
    font-size: 20px;
    color: white; 
  }


  .hero-main {
    font-size: 48px;
    font-weight: 800; /*extra bold font weight */
    color: #F9FAF8;
    width: 70%; /* text takes up 70% of avaialbe width, hence wrapping */
  }

  .hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
    width: 70%;
    margin-bottom: 10px;
    margin-top: 10px; 
  }

  .intro-left {
    min-height: 200px; 
    flex: 1;  /* takes up available space in the container, shared with right half*/
    margin-right: 30px; 
  }
  
  .intro-right {
    display: flex; 
    background-color: grey;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  button {
    background-color: #3882F6;
    color: white; 
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding: 8px 34px;
    border-radius: 8px;
  }

  .title {
    display: flex; 
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    justify-content: center;
    margin-bottom: 30px;
  }

  .container-two {
    padding: 50px; 
  }
  
  .information {
    display: flex; 
    justify-content: center;
    gap: 40px; 
  }

  .image-holder {
    width: 180px;
    height: 180px; 
    border-style: solid;
    border-radius: 10px; 
    border-width: 4px;
    border-color: #3882F6;
    margin-bottom: 10px;

  }

  .info {
    max-width: 200px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text {
    max-width: 180px;
  }
  
  .container-three {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 90px; 
  }

  .quote {
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    max-width: 800px;
  }

  .quote-source {
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
  }

  .container-four {
    display: flex; 
    padding: 100px 220px; 
    justify-content: center;
  }

  .action-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    border-radius: 10px;
    min-height: 160px; 
    width: 1000px;
    gap: 140px; 
  }

  .action-left {
    color: white; 
  }

  .action-header {
    font-weight: bold;
    font-size: 25px; 
  }

  .action-text {
    font-size: 18px;
  }

  .action-button {
    font-size: 16px;
    border: 2px solid white;
    border-width: 3px; 
  }

  .footer {
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    font-size: 25px; 
    min-height: 120px; 
    color: white; 
  }
  