.body {
  display: flex; 
  flex-direction: column;
}

.container-one {
  display: flex; 
  flex-direction: column;
  padding-left: 200px; 
  padding-right: 200px; 
}

.header {
    display: flex;
    justify-content: space-between;

}

.introduction {
  display: flex;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px; 
    padding-inline-start: 0px;
  }

  .left-links a {
    font-size: 24px;
    font-weight: bold; 
  }

  a {
    text-decoration: none;
    font-size: 20px;
  }


  .hero-main {
    font-size: 48px;
    font-weight: 800; /*extra bold font weight */
  }

  .hero-secondary {
    font-size: 18px;


  }

  .intro-left {
    flex: 1;  
  }
  
  .intro-right {
    display: flex; 
    background-color: grey;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
